<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
            <section id="about-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="about-text">
                                <h1>Secret Page</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rerum porro accusamus
                                    at dolorum itaque
                                    sequi eum numquam distinctio quo ipsam, reprehenderit quis optio, cum, officia quasi
                                    voluptatum quae ratione.</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                        <div class="col-md-4 border-right">
                            <div class="about-text">
                                <h1>Megna tempus sed amet aliquam veroeros</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rerum porro accusamus
                                    at dolorum itaque
                                    sequi eum numquam distinctio quo ipsam, reprehenderit quis optio, cum, officia quasi
                                    voluptatum quae ratione.</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                        <div class="col-md-4 border-right">
                            <div class="about-text">
                                <h1>Megna tempus sed amet aliquam veroeros</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rerum porro accusamus
                                    at dolorum itaque
                                    sequi eum numquam distinctio quo ipsam, reprehenderit quis optio, cum, officia quasi
                                    voluptatum quae ratione.</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="team-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="team-top-header text-center">
                                <h1>Team Member</h1>
                                <p>Megna tempus sed amet</p>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="team-member-id text-center border">
                                        <img class="img-fluid rounded-circle"
                                            src="https://savoy-webstack.netdna-ssl.com/wp-content/uploads/2015/08/product-classic-chair-2-300x372.jpg" alt="">
                                        <h1>Marima</h1>
                                        <p>Co-founder</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="team-member-id text-center border">
                                        <img class="img-fluid rounded-circle"
                                            src="https://savoy-webstack.netdna-ssl.com/wp-content/uploads/2015/08/product-classic-chair-2-300x372.jpg" alt="">
                                        <h1>Marima</h1>
                                        <p>Co-founder</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="team-member-id text-center border">
                                        <img class="img-fluid rounded-circle"
                                            src="https://savoy-webstack.netdna-ssl.com/wp-content/uploads/2015/08/product-classic-chair-2-300x372.jpg" alt="">
                                        <h1>Marima</h1>
                                        <p>Co-founder</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="team-member-id text-center border">
                                        <img class="img-fluid rounded-circle"
                                            src="https://savoy-webstack.netdna-ssl.com/wp-content/uploads/2015/08/product-classic-chair-2-300x372.jpg" alt="">
                                        <h1>Marima</h1>
                                        <p>Co-founder</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="recent-section">
                <div class="container">
                    <div class="row">
                        <div class="col-ml-12">
                            <div class="team-top-header text-center">
                                <h1>Nunc Dignism</h1>
                                <p>Magna tempus sed amet</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="recent-text text-center">
                                        <img src="https://images.pexels.com/photos/113727/pexels-photo-113727.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                                            alt="" class="img-fluid">
                                        <h1>Megna tempus sed</h1>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quasi
                                            laudantium, cum
                                            ad eaque sequi adipisci mollitia quisquam minima commodi, molestiae libero
                                            debitis nihil reprehenderit ea neque, est nostrum impedit.</p>
                                        <button class="btn btn-primary">More</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="recent-text text-center">
                                        <img src="https://images.pexels.com/photos/113727/pexels-photo-113727.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                                            alt="" class="img-fluid">
                                        <h1>Megna tempus sed</h1>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quasi
                                            laudantium, cum
                                            ad eaque sequi adipisci mollitia quisquam minima commodi, molestiae libero
                                            debitis nihil reprehenderit ea neque, est nostrum impedit.</p>
                                        <button class="btn btn-primary">More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>